<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head") %>
  </head>
  <body class="min-h-screen flex flex-col">
    <%- include("../partials/navbar") %>

    <!-- sidebar and table section -->
    <main class="lg:w-4/5 w-[95vw] mx-auto bg-white">
      <section class="">
        <div id="heading" class="my-10 text-3xl font-extralight text-center">
          All your shorten Urls
        </div>
        <div class="grid gap-4 grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
          <% if (data || data.length > 0) { %> <% data.forEach(items => { %>
          <div class="bg-blue-50 w-full rounded-sm">
            <div id="heading" class="text-xl font-medium font-sans px-5 py-3">
              <span>Short id :- </span> <span> <%= items.shortId %> </span>
            </div>
            <div id="info" class="px-5">
              <p class="my-2 text-light">
                Redirect Url :-
                <span class="text-blue-600"><%= items.redirectUrl %></span>
              </p>
              <p class="my-2 text-light">
                Created At :-
                <span class="text-blue-600"><%= items.createdAtIst %></span>
              </p>
              <button
                class="my-2 bg-blue-900 text-white px-3 py-0.5 cursor-pointer rounded-sm hover:rounded-2xl transition-all duration-150 ease-in-out"
              >
                Copy the url
              </button>
            </div>
          </div>
          <% }) %> <% } else {%>
          <div class="bg-red-200 text-red-900">No data found</div>
          <% }%>
        </div>
      </section>
    </main>
    <%- include("../partials/footer") %>
  </body>
</html>
