<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head") %>
  </head>
  <body>
    <header class="">
      <nav
        class="flex justify-between items-center mt-2 px-3 border-b-2 border-red-900 py-3"
      >
        <div id="name" class="w-1/5 text-center font-medium px-3 py-0.5">
          <p>Url shortner</p>
        </div>
        <div id="search" class="w-3/5 text-center text-black">
          <input
            type="text"
            name="search"
            id="search"
            placeholder="search"
            class="outline-1 w-[30vw] rounded-sm px-3 py-0.5 bg-[#D1D3E2] font-extralight"
          />
        </div>
        <div
          id="home page"
          class="w-1/5 text-center bg-blue-900 text-white px-3 py-0.5"
        >
          <p><a href="/">Go to home page</a></p>
        </div>
      </nav>
    </header>

    <!-- sidebar and table section -->
    <main class="flex">
      <aside class="h-screen bg-blue-900 w-1/5 py-0.5 font-medium text-white">
        <p class="font-light my-3 text-center">Menu</p>
        <div class="py-5">
          <p
            class="mt-6 py-3 flex items-center justify-center cursor-pointer hover:bg-slate-100 hover:text-blue-900"
          >
            <ion-icon
              name="analytics-outline"
              class="font-bold text-xl"
            ></ion-icon>
            <span
              class="px-2 py-1 rounded-sm transition-all duration-200 ease-in-out"
            >
              <a href="">Total Urls</a></span
            >
          </p>
          <p
            class="mt-6 py-3 flex items-center justify-center cursor-pointer hover:bg-slate-100 hover:text-blue-900"
          >
            <ion-icon name="cash-outline" class="font-bold text-xl"></ion-icon>
            <span
              class="px-2 py-1 rounded-sm transition-all duration-200 ease-in-out"
              ><a href="">Subscription Section</a></span
            >
          </p>
          <p
            class="mt-6 py-3 flex items-center justify-center cursor-pointer hover:bg-slate-100 hover:text-blue-900"
          >
            <ion-icon name="grid-outline" class="font-bold text-xl"></ion-icon>
            <span
              class="px-2 py-1 rounded-sm transition-all duration-200 ease-in-out"
              ><a href="">Invoice Section</a></span
            >
          </p>
          <p
            class="mt-6 py-3 flex items-center justify-center cursor-pointer hover:bg-slate-100 hover:text-blue-900"
          >
            <ion-icon
              name="person-circle-outline"
              class="font-bold text-xl"
            ></ion-icon>
            <span
              class="px-2 py-1 rounded-sm transition-all duration-200 ease-in-out"
            >
              <a href="">Profile Section</a></span
            >
          </p>
        </div>
      </aside>

      <section class="w-4/5 bg-blue-50">
        <table class="w-full mt-3">
          <caption class="text-center text-3xl font-medium font-mono">
            All url listing
          </caption>
          <thead>
            <tr>
              <th class="pt-5">Original URL</th>
              <th class="pt-5">Short URL</th>
              <th class="pt-5">Created At</th>
              <th class="pt-5">Clicks</th>
              <th class="pt-5">Copy the Url</th>
            </tr>
          </thead>
          <tbody>
            <%# check that data is exists or not %> <% if (data || data.length >
            0) { %> <%# for loop to data item %> <% data.forEach(item => { %>
            <tr>
              <td><%= item.redirectUrl %></td>
              <td><%= item.shortId %></td>
              <td><%= item.createdAtIst %></td>
              <td><%= item.visitHistory.length %></td>
              <td>
                <%= `${req.protocol}://${req.get("host")}/${item.shortId}` %>
              </td>
            </tr>
            <% }) %> <% } else {%>
            <tr>
              <td colspan="5">There is not data about your urls</td>
            </tr>
            <% }%>
          </tbody>
        </table>
      </section>
    </main>
  </body>
</html>
